<div class="m_datatable _datatable m-datatable m-datatable--default m-datatable--loaded" id="tabela-relatoriosDespesaAdicionada">
    <table class="m-datatable__table" style="display: block; min-height: 300px; overflow-x: auto;">
       <thead class="m-datatable__head">
         <tr class="m-datatable__row" style="height: 0px;">
            <th data-field="Id" class="m-datatable__cell--center m-datatable__cell m-datatable__cell--sort">
                <span style="width: 50px;">#</span>
            </th>
            <th data-field="Data" class="m-datatable__cell m-datatable__cell--sort">
                <span style="width: 110px;">Data</span>
            </th>
            <th data-field="Valor" class="m-datatable__cell m-datatable__cell--sort">
                <span style="width: 110px;">Valor</span>
            </th>

            <th data-field="Comentario" class="m-datatable__cell m-datatable__cell--sort">
                <span style="width: 110px;">Comentario</span>
            </th>
          </tr>
        </thead>
    
        <tbody class="m-datatable__body" style="" id="dadosVinculados">
                
        </tbody>
     </table>
</div>
