<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    Dashboard
                </h3>
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item m-nav__item--home">
                        <a href="#" class="m-nav__link m-nav__link--icon">
                            <i class="m-nav__link-icon la la-home"></i>
                        </a>
                    </li>
                    <li class="m-nav__separator">
                        -
                    </li>
                    <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                            <span class="m-nav__link-text">Dashboard</span>
                        </a>
                    </li>
                </ul>



            </div>
        </div>
    </div>

    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Dashboard
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">

                <div id="boxPrincipal" class="row col-12 justify-content-center ">
                    <div class="col-4 soma">
                        <p class="titulo-dash">Soma das despesas</p>
                        <div class="dinheiro">
                            <p>Valor : R$ <span id="valorTotal">0</span></p>
                        </div>

                        <div class="total-despesas">
                            <p>Total de despesas : <span id="qtdDespesas">0</span></p>
                        </div>
                    </div>

                    <div class="col-4 offset-1 soma">
                        <p class="titulo-dash">Soma das despesas do relatório</p>
                        <div class="dinheiro">
                            <p>Valor : R$ <span id="valorTotalRelatorio">0</span></p>
                        </div>
                        <div class="total-despesas">
                            <p>Total de despesas : <span id="qtdDespesasRelatorio">0</span></p>
                        </div>

                        <form>

                            <div class="form-group">
                                <label for="listaRelatorios">Relatório</label>
                                <select class="form-control" id="listaRelatorios" name="listaRelatorios" >
                                    <option selected> Selecione um relatório</option>
                                    
                                </select>
                            </div>

                        </form>
                        
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
